.todo-wrapper {
  width: 100%;
  min-width: 200px;
  display: flex;
  border: 1px solid #636363;
  padding: 24px;
  align-items: center;
  gap: 8px;
  border-radius: 4px; // Такой же как у textfield в mui
}
.checkbox {
  border-radius: 500px;
}
.text {
  color: #424242;
  &-completed {
    text-decoration: line-through;
    opacity: 50%;
  }
}
